@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* { /*CSS Reset*/
	padding: 0px; 
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url('pattern.png'); /*Background image*/
}

a {
	text-decoration: none; /*menghilangkan dekorasi teks pada link*/
	color: white; /*mengganti warna teks pada link*/
}

.container {
	width: 960px; /*lebar kontainer*/
	margin: auto; /*membuat margin secara horizontal secara otomatis*/
	height: 880px; /*tinggi kontainer*/
	background-color: #FFE4C4; 
}
 
.nama img{
    width: 960px; /*lebar gambar*/
    height: 300px; /*tinggi gambar*/
}

.navigasi {
	height: 50px; /*tinggi navigasi*/
	background-color: #3498DB; /*warna navigasi*/
	margin-top: -3px; /*mwngatur margin top pada navigasi*/
}

.navigasi ul li {
	display: inline-block; /*menampilkan link secara horizontal*/
	font-size: 27px; /*ukuran font*/
	color: white; /*mengganti warna teks*/
	line-height: 50px; /*mengatur tinggi teks*/
	padding-left: 60px; /*mengatur jarak antara link*/
	padding-right: 30px; /*mengatur jarak antara link*/
	margin-left: 30px; /*mengatur jarak antara link*/
}

.navigasi ul li:hover {
	background-color: lightblue; /*mengganti warna background saat link disorot*/
}

.navigasi a:hover {
	color: black; /*mengganti warna teks saat link disorot*/
}

.isi h1 {
	text-align: center; /*menampilkan teks secara horizontal*/
	margin-top: 20px; /*mengatur jarak antara teks dengan atas*/
	font-style: italic; /*mengatur font menjadi miring*/
}

.isi h3 {
  text-align: center; /*menampilkan teks secara horizontal*/
  margin-top: 3px; /*mengatur jarak antara teks dengan atas*/
  font-style: italic; /*mengatur font menjadi miring*/
  font-family: "Brush Script MT", cursive; /*mengganti font*/
  font-size: 35px; /*ukuran font*/
}

span {
	font-style: italic; /*mengatur font menjadi miring*/
}

/* ========== BAGIAN TABEL ========== */
.table {
	margin-top: 20px; /*mengatur jarak tabel bagian atas*/
}